* {
  font-family: "Cerebri";
}

button{
  cursor: pointer;
}

nav .links .link .hover {
  position: absolute;
  bottom: 0;
  left: 7.5rem;

  width: 5.8rem;

  background-color: #111318;

  transition: 200ms;
}

nav .links .link a:nth-child(1):hover ~ .hover {
  left: 0;
  width: 5rem;

  transition: 200ms;
}

#formularioCriacao {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#formularioEdicao {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opcao-muito-alto {
  background-color: #6e36e3;
}
.opcao-alto {
  background-color: #5979ed;
}
.opcao-medio {
  background-color: #67c1f4;
}
.opcao-baixo {
  background-color: #92e9fc;
}
.opcao-muito-baixo {
  background-color: #bcfff3;
}

#fundoNaoSelecionavel {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgba(207, 214, 239, 0.35);

  z-index: 998;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;

  width: 67.1rem;
  height: 49rem;

  padding: 3rem;

  border-radius: 3rem;
  border: 1px solid #fff;
  background: radial-gradient(
    240.63% 115.38% at 7.08% 21.84%,
    rgba(248, 248, 251, 0.85) 0%,
    rgba(248, 248, 251, 0.62) 63.18%,
    rgba(248, 248, 251, 0.93) 100%
  );
  backdrop-filter: blur(4px);

  gap: 2.4rem;

  z-index: 999;
}

.form span {
  color: #111318;
}

.form input {
  height: 4rem;

  padding: 0 0.8rem;

  border: none;
  outline: none;

  border-radius: 1rem;
}

.form input::placeholder, textarea::placeholder {
  color: #d5d7e2;
}

.form .tituloFormulario {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1.2rem;
}

.form .tituloFormulario span {
  padding-top: 0.6rem;

  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.form .tituloFormulario img {
  height: 60%;
}

.form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: end;

  gap: 2.4rem;

  width: 100%;
}

.form .inputs .input {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form .inputs .inputLinha:nth-child(2) .input span {
  padding-top: 0.4rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.form .inputs .input span {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 0.8rem;

  border-radius: 1rem 0 0 1rem;
  background: #e9ecf7;
}

.form .inputs .input input {
  width: 100%;
  border-radius: 0 1rem 1rem 0;
}

.form .inputs .inputLinha:nth-child(2) .input input {
  padding-top: 0.4rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.form .inputs .inputColuna {
  display: flex;
  flex-direction: column;
}

.form .inputs .inputColuna span {
  font-size: 1.8rem;
  font-weight: 600;
}

.form .inputs .inputColuna textarea {
  padding: 0.8rem;

  font-size: 1.4rem;
  font-weight: 500;

  outline: none;
  border: none;

  min-height: 6rem;
  max-height: 8.5rem;
  resize: vertical;

  border-radius: 1rem;
}

.form .inputs .inputColuna textarea::placeholder {
  font-weight: 500;
}

.form .inputs .inputLinha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 1.1rem;
}

.form .inputs .inputLinha:nth-child(4) .input input {
  padding-top: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.form .inputs .inputLinha:nth-child(4) .input span {
  white-space: nowrap;

  font-size: 1.6rem;
  font-weight: 600;
}

.form .inputs .selects {
  width: 60%;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1.1rem;
}

.nivelNaoSelecionado {
  background-color: #e9ecf7;
  color: #111318;
}
.nivelSelecionado {
  color: white;
}
.nivel5 {
  background-color: #6e36e3;
}
.nivel4 {
  background-color: #5979ed;
}
.nivel3 {
  background-color: #67c1f4;
}
.nivel2 {
  background-color: #92e9fc;
}
.nivel1 {
  background-color: #bcfff3;
  color: #111318;
}

.form .inputs .selects select {
  border: none;
  outline: none;

  border-radius: 1rem;

  padding: 0 0.6rem;

  width: 100%;
  height: 4rem;

  font-size: 1.6rem;
  font-weight: 600;
}

.form .inputs span.erro {
  display: none;

  position: absolute;
  bottom: 4.3rem;

  font-size: 1.6rem;
  color: #b44141;
}

.form .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1.2rem;
}

.form .buttons button {
  text-transform: uppercase;
  font-weight: 600;

  transition: 200ms;
}

.form .buttons button:active {
  transform: scale(0.97);
  transition: 200ms;
}

.form .buttons button:nth-child(1) {
  padding-top: 0.4rem;

  border: none;

  width: 20rem;
  height: 4.5rem;

  font-size: 1.6rem;
  color: white;

  border-radius: 99.9rem;
  background: #2973ae;
}

.form .buttons button:nth-child(2) {
  padding-top: 0.3rem;

  width: 12.2rem;
  height: 3.9rem;

  font-size: 1.4rem;
  color: #c31d1d;

  background-color: transparent;

  border-radius: 99.9rem;
  border: 5px solid #c31d1d;
}

#caixaDeConfirmacao {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2.4rem;

  padding: 2rem 4rem;

  border-radius: 2rem;
  border: 1px solid #fff;
  background: radial-gradient(240.63% 115.38% at 7.08% 21.84%, rgba(248, 248, 251, 0.85) 0%, rgba(248, 248, 251, 0.62) 63.18%, rgba(248, 248, 251, 0.93) 100%);
  backdrop-filter: blur(4px);

  z-index: 999;
}

#caixaDeConfirmacao span {
  font-size: 1.6rem;
}

#caixaDeConfirmacao .buttons {
  display: flex;
  flex-direction: row;

  gap: 1.2rem;
  width: 100%;
}

#caixaDeConfirmacao .buttons button {
  padding-top: 0.4rem;

  height: 4rem;
  width: 100%;

  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 99rem;

  transition: 200ms;
}

#caixaDeConfirmacao .buttons button:nth-child(1) {
  border: none;
  background-color: #2973ae;
  color: white;
}

#caixaDeConfirmacao .buttons button:nth-child(2) {
  border: none;
  background-color: #c31d1d;
  color: white;
}

#caixaDeConfirmacao .buttons button:active {
  transform: scale(0.95);

  transition: 200ms;
}

main {
  padding: 18.9rem 2.4rem 9rem 2.4rem;
  display: flex;
  flex-direction: column;

  gap: 3.8rem;
}

main button.adicionar {
  position: fixed;
  top: 11.1rem;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 1.2rem;

  width: 22rem;
  height: 6rem;

  border: 1px solid #fff;
  border-radius: 1.5rem;

  background: radial-gradient(circle at 9% 100%, rgba(110, 186, 91, 1) 3%, rgba(110, 186, 91, 0.788) 29%, rgba(110, 186, 91, 0.788) 69%, rgba(110, 186, 91, 1) 100%);

  transition: 400ms;
}

main button.adicionar span {
  padding-top: 0.3rem;

  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

main button.adicionar:hover {
  background-color: #6eba5b;
  transition: 400ms;
}

main button.adicionar:active {
  box-shadow: 0px 0px 30px 5px #8ae07457;
  transition: 400ms;
}

main .listas {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

main .listas .tituloLista {
  display: flex;
  flex-direction: row;

  gap: 0.7rem;
}

main .listas .tituloLista span {
  color: #111318;
  font-size: 2.4rem;
  font-weight: 700;
}

main .listas .listaDeTarefas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  min-height: 25.4rem;
  width: 100%;

  gap: 12px;
}

main .listas .listaDeTarefas .tarefaCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.4rem 1.2rem 1.2rem 1.2rem;

  width: 31.625rem;
  height: 25.4rem;

  border-radius: 1rem;
  background: #f2f2f4;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.08);
}

main .listas .listaDeTarefas .tarefaCard .content {
  display: flex;
  flex-direction: column;

  gap: 1.6rem;
}

main .listas .listaDeTarefas .tarefaCard * {
  word-wrap: break-word;
  color: #111318;
  font-size: 1.4rem;
  font-weight: 600;
}

main .listas .listaDeTarefas .tarefaCard .content span:nth-child(1) {
  text-transform: uppercase;
}

main .listas .listaDeTarefas .tarefaCard .content span.desc {
  font-weight: 500;
  line-height: 18px;
}

main .listas .listaDeTarefas .tarefaCard .content .prioridade {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.4rem;
}

main .listas .listaDeTarefas .tarefaCard .content .prioridade .nivel {
  border-radius: 99rem;
  height: 0.7rem;
  aspect-ratio: 1/1;
}

main .listas .listaDeTarefas .tarefaCard .content .prioridade span:nth-child(3){
  font-weight: 500;
}

main .listas .listaDeTarefas .tarefaCard .content .categoria span:nth-child(2){
  font-weight: 500;
}

main .listas .listaDeTarefas .tarefaCard .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 1.7rem;
}

main .listas .listaDeTarefas .tarefaCard .actions button {
  border: none;
}

main .listas .listaDeTarefas .tarefaCard .actions .act1,
.act2 {
  display: flex;
  flex-direction: row;

  gap: 0.5rem;
}

main .listas .listaDeTarefas .tarefaCard .actions .act1 button.proximaLista {
  padding-top: 0.2rem;
  text-transform: uppercase;
  color: #fff;

  width: 9.4rem;
  height: 2.8rem;

  border-radius: 99.9rem;

  transition: 200ms;
}

main .listas:nth-child(2) .listaDeTarefas .tarefaCard .actions .act1 button.proximaLista {
  background: #daa235;
}

main .listas:nth-child(2) .listaDeTarefas .tarefaCard .actions .act1 button.proximaLista:active {
  background-color: #e9af3a;
}

main .listas:nth-child(3) .listaDeTarefas .tarefaCard .actions .act1 button.proximaLista {
  background: #2973ae;
}

main .listas:nth-child(3) .listaDeTarefas .tarefaCard .actions .act1 button.proximaLista:active {
  background-color: #358fda;
}

main .listas:nth-child(4) .listaDeTarefas .tarefaCard .actions .act1 button.proximaLista {
  background: #6eba5b;
  pointer-events: none;
}

main .listas .listaDeTarefas .tarefaCard button:active {
  transform: scale(0.97);

  transition: 200ms;
}

main .listas .listaDeTarefas .tarefaCard .actions .act1 span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 8rem;
  height: 2.8rem;

  border-radius: 99.9rem;

  font-size: 1.2rem;
}

main .listas:nth-child(2) .listaDeTarefas .tarefaCard .actions .act1 span {
  border: 2px solid #daa235;
}

main .listas:nth-child(3) .listaDeTarefas .tarefaCard .actions .act1 span {
  border: 2px solid #2973ae;
}

main .listas:nth-child(4) .listaDeTarefas .tarefaCard .actions .act1 span {
  background-color: #6eba5b;
  color: white;
}

main .listas .listaDeTarefas .tarefaCard .actions .act2 button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.8rem;
  aspect-ratio: 1/1;

  transition: 200ms;
}

main .listas .listaDeTarefas .tarefaCard .actions .act2 button.editarTarefa {
  border-radius: 0.3rem;
  background: #e0e0e9;
}

main .listas .listaDeTarefas .tarefaCard .actions .act2 button.editarTarefa:active {
  background-color: #b4b4c7;
}

main .listas .listaDeTarefas .tarefaCard .actions .act2 button.excluirTarefa {
  border-radius: 0.3rem 2rem 2rem 0.3rem;
  background-color: #111318;
}

main .listas .listaDeTarefas .tarefaCard .actions .act2 button.excluirTarefa:active {
  background-color: #000000;
}

main .listas:nth-child(2) .listaDeTarefas .tarefaCard .actions .act2 button#mandarListaAnterior{
  display: none;
}

main .listas .listaDeTarefas .tarefaCard .actions .act2 button#mandarListaAnterior {
  border-radius: 0.3rem;
  background-color: #6d0202;
}

main .listas .listaDeTarefas .tarefaCard .actions .act2 button#mandarListaAnterior:active {
  background-color: rgb(94, 10, 10);
}
