@font-face {
    font-family: 'Cerebri';
    src: url("assets/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Cerebri';
    src: url('assets/fonts/CerebriSansPro/CerebriSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Cerebri';
    src: url('assets/fonts/CerebriSansPro/CerebriSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Cerebri';
    src: url('assets/fonts/CerebriSansPro/CerebriSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'MontSerrat';
    src: url('assets/fonts/MontSerratSubrayada/montserrat-subrayada-bold.ttf');
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
}

nav{
    height: 9.5rem;
    width: 100%;
    background: rgba(217, 217, 217, 0.22);
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 2.4rem;
    
    position: fixed;
}

nav *{
    font-family: 'Cerebri';
    font-weight: 500;
    font-size: 1.8rem;
    color: #111318;
}

nav img.logo{
    height: 3.9rem;
}

nav .links{

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 3.6rem;
}

nav a{
    text-decoration: none;
    color: #111318;

    pointer-events: auto;
}

nav .links .link{
    position: relative;

    display: flex;
    flex-direction: row;

    gap: 2.4rem;
}

nav .links .link .hover{
    position: absolute;
    top: 5.3rem;
    left: 0rem;

    height: 0.4rem;

    background-color: #111318;

    transition: 200ms;
}

nav .links img.avatar{
    width: 5.6rem;
    height: 6.3rem;

    margin-bottom: 0.9rem;
}